{% extends 'nav.html' %}
{% block content %}
{% load static %}

<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/additional-methods.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .enter {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .content a:hover {
        background-color: rgb(238, 167, 75);
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 50px;
        height: 500px;
        padding: 10px;
    }

    .form-container1 {
        max-width: 350px;
        height: 500px;
        padding: 2px;

    }


</style>
<br>
<div style="background-color: #213b52;color: #fff;" class="m-0">
    
    
    <form class="p-3" id="validate" style="background-color:rgba(0,0,0,.4);" method="post"
        action="{% url 'distributor_reg' %}" autocomplete="off">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                <label for="" class="text-center mt-5" style="background-color: rgb(255, 0, 0,0.5); width: 100%;color:white;text-shadow: 2px 2px 4px #000000;padding: 10px; border-radius: 10px;">{{message}}</label>
            {% endfor %}
        {% endif %}
        
        <h3 class=" text-light p-3  text-center mt-5" style="text-align: center;padding-top: 30px;">Distributor Creation</h3>
        <div class="row container-fluid  p-0 m-0 mt-3" style=" border: 1px solid rgba(128, 128, 128, 0.6);">
           
            <div class="container mt-4" style="padding-top: 3%;">
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"><label for="d">First Name</label></div>
                    <div class="col-sm-6 m-0 p-0"><input type="text" class="form-control" id="dist_fname"
                            name="dist_fname" required></div>
                </div>
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="d">Last Name</label></div>
                    <div class="col-sm-6 m-0 p-0">
                        <input type="text" class="form-control" id="dist_lname" name="dist_lname"
                        required>
                    </div>
                </div>
                <!-- <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="d">Address</label></div>
                    <div class="col-sm-6 m-0 p-0"><textarea class="form-control" name="address" id="" cols="36"
                            rows="4"></textarea></div>
                </div> -->
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="d">Email</label></div>
                    <div class="col-sm-6 m-0 p-0">
                        <input type="text" class="form-control" id="dist_email" name="dist_email" required>
                    </div>
                </div>

                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="d">Username</label></div>
                    <div class="col-sm-6 m-0 p-0">
                        <input type="text" class="form-control" id="dist_uname" name="dist_uname" required>
                    </div>
                </div>
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="d">Password</label></div>
                    <div class="col-sm-6 m-0 p-0">
                        <input type="password" class="form-control" id="password" name="dist_pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required >
                        
                    </div>
                    

                </div>

                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"></div>
                    <div class="col-sm-6 m-0 p-0 text-center">
                        <span style="font-size: 0.8rem;" class="text-danger">*password must be atleast 8 characters long and include uppercase, lowercase, special characters and numbers.</span>
                    </div>
                </div>

                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="d">Confirm Password</label></div>
                    <div class="col-sm-6 m-0 p-0">
                        <input type="password" class="form-control" id="cpassword" name="dist_cpass" required>
                        <div class="registrationFormAlert col-sm-6 m-0 p-0 pt-2"  id="CheckPasswordMatch"></div>
                        
                    </div>
                </div>

                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="d">Phone Number</label></div>
                    <div class="col-sm-6 m-0 p-0">
                        <input type="password" class="form-control" id="phone_number" name="phone_number" required maxlength="10" pattern="[6-9]{1}[0-9]{9}">
                        <div class="registrationFormAlert col-sm-6 m-0 p-0 pt-2"  ></div>
                        
                    </div>
                </div>
                <div class="row container-fluid  p-2">
                    <div class="col-sm-6 m-0 p-0"> <label for="d">Choose Payment Terms</label></div>
                    <div class="col-sm-6 m-0 p-0">
                        <select name="select" id="" class="form-control" required>
                            <option value="" selected hidden>Choose ...</option>
                            {% for i in payment_term %}
                            <option value="{{ i.id }}" >{{  i.payment_terms_number }}  {{ i.payment_terms_value }}</option>
                            {% endfor %}
                            
                            
                        </select>

                    </div>
                </div>
               
                <div class="col-sm-4 m-0 p-4"></div>
            </div>
            <div class="enter w-100 py-4"><button class="btn btn-info w-15" type="submit">CREATE</button></div>
    </form>
</div>

<script>

    function checkPasswordMatch() {
        var password = $("#password").val();
        var confirmPassword = $("#cpassword").val();
        if (password != confirmPassword)
            $("#CheckPasswordMatch").html("Passwords does not match!").css("color", "#d9534f");
        else
            $("#CheckPasswordMatch").html("Passwords match.").css("color", "green");
    }
    $(document).ready(function () {
        $("#cpassword").keyup(checkPasswordMatch);
    });

    
</script>









{% endblock %}